/* ------------------ mainBanner ---------------------*/
.mainBanner { display: flex; align-items: center; justify-content: center; position: relative; height: 95vh; background: url(../source/mainBn.png) center center fixed; background-size: cover; } 
.mainCon { display: flex; flex-direction: column; align-items: center; } 
.mainBnLogo { width: 550px; filter: drop-shadow(3px 3px 4px #00000052);} 
.mainCon p { width: 660px; text-align: center; color: #fff; font-size: 20px; font-family: pRegular; line-height: 140%; text-shadow: 1px 1px 4px #000000b2;} 
.mainCon .boldTxt { font-family: pSemi;}

.scrollDown { position: absolute; left: 50%; bottom: 5%; padding-top: calc( 100vw * 70 / 1920 ); color: #666; font-size: calc( 100vw * 16 / 1920 ); font-family: pRegular; cursor: pointer; } 
.scrollDown span { position: absolute; top: 0; left: 50%; width: calc( 100vw * 24 / 1920 ); height: calc( 100vw * 24 / 1920 ); margin-left: calc( 100vw * -12 / 1920 ); border-left: calc( 100vw * 2 / 1920 ) solid #666; border-bottom: calc( 100vw * 2 / 1920 ) solid #666; transform: rotate(-45deg); animation: sdb05 1.5s infinite; } 

@-webkit-keyframes sdb05 {0% { -webkit-transform: rotate(-45deg) translate(0, 0); opacity: 0; } 
50% { opacity: 1; } 
100% { -webkit-transform: rotate(-45deg) translate(-20px, 20px); opacity: 0; } 
 }
@keyframes sdb05 {0% { transform: rotate(-45deg) translate(0, 0); opacity: 0; } 
50% { opacity: 1; } 
100% { transform: rotate(-45deg) translate(-20px, 20px); opacity: 0; } 
 }

.mainSection { padding: 0 12%; margin: 30px 0 100px 0; } 
.mainSection .titleTxt { position: relative; margin-top: 40px; font-size: 25px; font-family: pBold; } 
.txtPple { color: var(--color-main); } 
.epicTxt::before { content: ""; position: absolute; top: 14px; left: -4px; width: 144px; height: 15px; background: #41ff3b78; border-radius: 3px; z-index: -10; } 

/* ------------------ slider --------------------- */
.slider .bn { height: 42vh; margin: 60px 0 30px 0; } 
.bContent { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-repeat: no-repeat; border-radius: 10px; } 
.bContent01 { background: url(../source/bg_bangkok.jpg) center center; background-size: cover; } 
.bContent02 { background: url(../source/bg_hongK.jpg) center center; background-size: cover; } 
.bContent03 { background: url(../source/bg_korea.jpg) center center; background-size: cover; } 
.bContent04 { background: url(../source/bg_taipei.jpg) center center; background-size: cover; } 

.bContent p { color: #fff; text-shadow: 2px 2px 6px #1c1c1cb9; font-size: 35px; font-family: pBold; } 


/* ------------------------------------------------------ */
.itemAll { margin: 20px auto; padding-bottom: 30px; display: flex; border-bottom: 1px solid #ddd; } 
.itemOne { width: calc(100vw * 330 / 1920); height: 335px; margin: calc(100vw * 20 / 1920) calc(100vw * 42 / 1920) calc(100vw * 20 / 1920) 0; position: relative;border-radius: 15px; box-shadow: 1px 1px 7px #8585856b; cursor: pointer; } 
.itemOne .post { width: 100%; height: 210px; border-radius: 15px 15px 0 0; overflow: hidden; } 
.postImg { width: calc(100vw * 360 / 1920); height: 100%; border-radius: 15px 15px 0 0; overflow: hidden; display: flex; align-items: center; position: relative; } 
.postImg img { width: 100%; height: 100%; object-fit: cover; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: transform 0.3s; } 
.itemOne:hover .post img { transform: translate(-50%, -50%) scale(1.05); /* 추가: 호버 시 이미지 크기를 110%로 확대 */ } 

.postBottom { width: 93%; height: 90px; display: flex; flex-direction: column; margin: 15px auto; justify-content: space-between } 
.postBottom .infoText { font-size: 17px; line-height: 130%; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;overflow: hidden; text-overflow: ellipsis; } 
.locPay { display: flex; align-items: center; justify-content: space-between; } 
.locPay p { font-size: 15px; color: #494949; font-family: pLight; line-height: 130%; margin-top: 10px; } 
.locPay span { padding-top: 7px; font-family: pSemi; font-size: 18px; } 


/* -------------------- 동행 ----------------------------------- */
.groAll { padding-bottom: 30px; border-bottom: 1px solid #ddd; } 
.groAll, .schAll { width: calc(100vw * 1480 / 1920); margin: 20px auto; display: flex; flex-wrap: wrap; } 

.goDetail { width: calc(100vw * 330 / 1920); margin: calc(100vw * 20 / 1920) calc(100vw * 40 / 1920) calc(100vw * 20 / 1920) 0; } 
.schOne { width: 100%; height: 100%; position: relative; border-radius: 15px; box-shadow: 1px 1px 7px #8585856b; } 
.schTopInfo { position: absolute; top: 5%; left: 4.5%; width: calc(100vw * 260 / 1920); padding: calc(100vw * 12 / 1920) calc(100vw * 20 / 1920); display: flex; align-items: center; justify-content: space-between; background: #fff; font-size: 13px; border-radius: 15px; box-shadow: 1px 1px 4px #747474ac; line-height: 125%; z-index: 10; } 
.schTopInfo .schUser { display: flex; align-items: center; } 
.schTopInfo .schUser img { margin-right: 10px; width: 35px; border-radius: 20px; } 
.schUser .schNicK { font-family: pSemi; } 

.schDays .days { color: var(--color-main); font-family: pBold; } 

.schOne .post { width: calc(100vw * 360 / 1920); height: calc(100vw * 260 / 1920); border-radius: 15px 15px 0 0; overflow: hidden; cursor: pointer; z-index: 3; } 

.goDetail .postImg { width: calc(100vw * 330 / 1920); height: 100%; border-radius: 15px 15px 0 0; overflow: hidden; display: flex; align-items: center; position: relative; } 
.goDetail .postImg img { width: 100%; height: 100%; object-fit: cover; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: transform 0.3s; } 
.schOne:hover .post img { transform: translate(-50%, -50%) scale(1.08); } 
.schOne:hover .postLoc { background-color: #ffda53; transition: all .3s; } 

.postLoc { position: absolute; top: 26%; left: 5%; padding: 8px calc(100vw * 18/ 1920) 8px 30px; display: flex; align-items: center; justify-content: space-between; background: #fff;font-size: calc(100vw * 13 / 1920 ); border-radius: 10px; box-shadow: 1px 1px 4px #747474ac; line-height: 125%; z-index: 10; } 
.postLoc::before { position: absolute; top: 25%; left: 10%; content: ''; background: url(../source/loc.png) center center; background-size: cover; width: 15px; height: 15px; } 

.goDetail .postBottom { height: 70px; display: flex; flex-direction: column; width: 330px; margin: 15px auto 15px 15px; } 
.goDetail .postBottom h3 { width: calc(100vw * 280 / 1920); font-size: 18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } 
.goDetail .postBottom p { width: calc(100vw * 280 / 1920); font-size: 15px; color: #494949; font-family: pLight; line-height: 130%; overflow: hidden; display: -webkit-box; margin-top: 10px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; } 

.hiddenBox { display: flex; align-items: center; justify-content: space-between; position: absolute; bottom: -4px; width: 100%;height: 50px; z-index: -1; background-color: rgba(50, 50, 50, 0.7); color: #fff; padding: calc(100vw * 20 / 1920); font-size: calc(100vw * 15 / 1920); box-sizing: border-box;} 

.schOne:hover .hiddenBox { opacity: 1; animation-name: fadeIn; animation: fadeIn 0.4s ease-in-out; z-index: 10; } 

.viewCnt, .chatCnt { position: relative; } 
.viewCnt { margin-right: 30px; } 

.hiddenBox .viewCnt::before { content: ""; top: calc(100vw * -2/ 1920); left: -25px; width: 20px; height: 20px; background: url(../source/cG_view.png) center center; position: absolute; } 
.hiddenBox .chatCnt::before { content: ""; top: calc(100vw * -2/ 1920); left: -25px; width: 20px; height: 20px; background: url(../source/cG_send.png) center center; position: absolute; } 

@keyframes fadeIn {from { opacity: 0; transform: translateY(15px); } 
to { opacity: 1; transform: none; } 
 }


/* ------------------------- 일정 ----------------------------------- */
.schAll { width: calc(100vw * 1660 / 1920); margin: 20px auto; display: flex; flex-wrap: wrap; } 
.schAll .schOne { width: calc(100vw * 330 / 1920); margin: calc(100vw * 20 / 1920) calc(100vw * 40 / 1920) calc(100vw * 20 / 1920) 0; padding-bottom: 10px; position: relative; border-radius: 15px; box-shadow: 1px 1px 7px #8585856b; } 
.schTopInfo .schUser { display: flex; align-items: center; } 
.schTopInfo .schUser img { margin-right: 10px; width: 35px; border-radius: 20px; } 
.schUser .schNicK { font-family: pSemi; } 

.subTxt { font-size: calc(100vw * 12 / 1920); color: #666; font-family: pRegular; } 

.schDays .days { color: var(--color-main); font-family: pBold; } 

.schOne .schMap { width: calc(100vw * 330 / 1920); height: calc(100vw * 230 / 1920); border-radius: 15px 15px 0 0; } 

.schBottom { height: 60px; display: flex; align-items: center; justify-content: space-around; font-size: 15px; } 
.schBottom > * { width: 50%; height: 50%; text-align: center; display: flex; align-items: center; justify-content: center; } 
.schBottom div { border-right: 1px solid var(--color-line); } 
.schBottom .schLoc { margin-left: 5px; position: relative; } 
.schBottom .locIco { width: 23px; height: 23px; } 

.detailBtn { transition: all .2s; } 
.detailBtn:hover { color: var(--color-main); } 

.dayLocAll { width: 90%; margin: 0 auto; } 
.dayAll { height: 50px; display: flex; align-items: center; overflow-y: hidden; overflow-x: scroll; } 
.dayAll::-webkit-scrollbar { height: 10px; cursor: pointer; transition: all .2s; } 
.dayAll::-webkit-scrollbar-thumb { background-color: #8242f024; border: 3px solid #fff; border-radius: 20px; } 
.dayAll::-webkit-scrollbar-track { background-color: transparent; cursor: pointer; transition: all .2s; } 
.dayAll::-webkit-scrollbar-thumb:hover { background-color: #8242f073; } 

.dayAll span.day { margin: 0 8px 8px 0; padding: 8px 11px; border: 1px solid #ddd; border-radius: 20px; font-size: 14px; cursor: pointer; transition: all .2s; } 
.dayAll span.day:hover { color: #000; background: #ddd; } 
.dayAll .day.active { background: var(--color-main); color: #fff; border-color: transparent; } 
.dayAll .day.active:hover { background: var(--color-main); color: #fff; border-color: transparent; } 

.locList { height: 102px; overflow-y: auto; } 
.locList::-webkit-scrollbar { width: calc(100vw * 12 / 1920); } 
.locList::-webkit-scrollbar-thumb { background-color: #999; border: 3px solid #fff; border-radius: 20px; } 
.locList::-webkit-scrollbar-track { background-color: transparent; } 

.locList ul { display: none; padding: 0 0 10px 10px; font-size: 15px; } 
.locList ul.active { display: block; } 
.locList ul li { position: relative; padding: 15px 0; padding-left: 25px; border-bottom: 1px solid #ddd; } 
.locList ul li:last-child { border: none; } 
.locList ul li::before { content: ''; position: absolute; width: 22px; height: 22px; top: 11px; left: -5px; background: url(../source/locGr.png) center center; background-size: cover; } 
.noLoc { color: #666; font-size: 16px; } 

/* ---------- scrollTop ------------- */
#scrollTop { background: #fff; font-family: pMedium; box-shadow: 0 1px 6px #36363689; color: #171717; align-content: center; width: calc(100vw * 53 / 1920); height: calc(100vw * 53 / 1920); border-radius: 50%; text-align: center; font-size: calc(100vw * 12 / 1920); bottom: calc(100vw * 50 / 1920); right: calc(100vw * 80 / 1920); position: fixed; z-index: 3; cursor: pointer; } 
#scrollTop:hover { transition: 0.5s ease; background-color: #efefef; } 
#scrollTop::before { content: "\2303"; position: absolute; top: calc(100vw * 7 / 1920); left: calc(100vw * 17 / 1920); color: #171717; font-family: pLight; font-size: calc(100vw * 23 / 1920); } 
#scrollTop .topTxt { display: block; margin-top: calc(100vw * 23 / 1920); font-size: calc(100vw * 14 / 1920); } 