<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Final project : EpicTrip">
    <meta property="og:url" content="https://mrrobotcorp.github.io/project6_EpicTrip/">
    <meta property="og:image" content="https://mrrobotcorp.github.io/project6_EpicTrip//source/thumbnail.png">
    <meta property="og:description" content="4조 프로젝트 사이트 - EpicTrip">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Final project : EpicTrip">
    <meta name="twitter:url" content="https://mrrobotcorp.github.io/project6_EpicTrip/">
    <meta name="twitter:image" content="https://mrrobotcorp.github.io/project6_EpicTrip//source/thumbnail.png">
    <meta name="twitter:description" content="4조 프로젝트 사이트 - EpicTrip">
    <meta name="description" content="4조 프로젝트 사이트 - EpicTrip">
    <meta name='keywords' content='project, EpicTrip, toy project, community, trip, tour'>

    <link rel="icon" href="./source/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="./source/apple-icon-180x180.png" sizes="180x180">
    <title>EpicTrip | 에픽트립</title>

    <link href="./css/headFoot.css" rel="stylesheet">
    <link href="./css/adCalendar.css" rel="stylesheet">

</head>

<body>
    <header>
        <nav>
            <a href="./main.html"><img class="headLogo" src="./source/logo.png"></a>
            <div class="gnb">
                <ul class="gnbTab">
                    <li>
                        <a href="./Store.html" class="store">여행상점</a>
                    </li>
                    <li>
                        <a href="./Community_Group.html" class="community">커뮤니티</a>
                    </li>
                </ul>
                <div class="userHead">
                    <a href="#"><img class="msgImg" src="./source/msg.png"></a>
                    <a href="#"><img class="userImg" src="./source/profImg2.jpg"></a>
                    <ul class="userList">
                        <li>유저 닉네임</li>
                        <!-- <li><a href="./Community_Group.html">마이페이지</a></li> -->
                        <li><a href="./adm_calendar.html">관리자 일정</a></li>
                        <li>로그아웃</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div id='calendar'></div>

        <div class="modalBg">
            <div class="saleModel">
                <h4 class="saleRate">일일 총 판매량</h4>
                <h3><span>8월 21일</span> 판매 리스트</h3>
                
                <ul class="listHead listRow">
                    <li>구매시간</li>
                    <li>판매 상품</li>
                    <li>여행위치</li>
                    <li>판매 가격</li>
                    <li>인원</li>
                    <li>총액</li>
                </ul>
                <div class="saleListAll">
                    <ul class="listRow">
                        <li>18:09:59</li>
                        <li>[일본 오사카] 유니버셜 스튜디오 재팬 익스프레스 패스</li>
                        <li>일본 - 오사카</li>
                        <li>159,000</li>
                        <li>3</li>
                        <li>477,000</li>
                    </ul>
                    <ul class="listRow">
                        <li>18:09:59</li>
                        <li>[베트남 호치민] 🌇 Ho Chi Minh City tour in 1 Day </li>
                        <li>베트남 - 호치민</li>
                        <li>159,000</li>
                        <li>3</li>
                        <li>1,477,000</li>
                    </ul>
                    <ul class="listRow">
                        <li>18:09:59</li>
                        <li>[베트남 나트랑] 나트랑과 빈히 베이데이 투어</li>
                        <li>베트남 - 나트랑나트랑나트랑</li>
                        <li>99,000</li>
                        <li>5</li>
                        <li>297,000</li>
                    </ul>
                    <ul class="listRow">
                        <li>18:09:59</li>
                        <li>[일본 오사카] 유니버셜 스튜디오 재팬 익스프레스 패스</li>
                        <li>일본 - 오사카</li>
                        <li>159,000</li>
                        <li>3</li>
                        <li>477,000</li>
                    </ul>
                    <ul class="listRow">
                        <li>18:09:59</li>
                        <li>[베트남 호치민] 🌇 Ho Chi Minh City tour in 1 Day </li>
                        <li>베트남 - 호치민</li>
                        <li>159,000</li>
                        <li>3</li>
                        <li>477,000</li>
                    </ul>
                    <ul class="listRow">
                        <li>18:09:59</li>
                        <li>[베트남 나트랑] 나트랑과 빈히 베이데이 투어</li>
                        <li>베트남 - 나트랑나트랑나트랑</li>
                        <li>99,000</li>
                        <li>5</li>
                        <li>297,000</li>
                    </ul>
                </div>

                <div class="cls">
                    <button type="button" class="clsBtn"></button>
                </div>
            </div>
        </div>

    </section>


    <footer>
        <img src="./source/logo_white.png">
        <p><a href="mailto:depo89055@gmail.com">프로젝트 문의 dddd@gmail.com</a></p>
        <p>유선 상담 010-1234-1234</p>
        <p>Copyright© EpicTrip, Inc. 2023. All Rights Reserved.</p>
    </footer>

    <script src="./js/index.global.js"></script>
    <script src="./js/header.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek'
                },
                navLinks: false, // can click day/week names to navigate views
                selectable: true,
                selectMirror: true,

                height: 750,
                titleFormat: function (date) {
                    year = date.date.year;
                    month = date.date.month + 1;
                    return year + "년 " + month + "월";
                },
                fixedWeekCount: false,
                buttonText: {
                    today: "오늘",
                    month: "월별",
                    week: "주별",
                },
                dayClick: function () {

                },
                eventClick: function (event, jsEvent, view) {
                    showModal();
                    $('.eventTxt').html(event.title);
                    $('.event-body').html(event.description);
                    $('.eventUrl').attr('href', event.url);
                    
                    //if (confirm('해당 일정을 삭제하시겠습니까?')) {
                    //    arg.event.remove()
                    //}
                },
                select: function (arg) {
                    showModal();
                },

                editable: false, // 드래그 해서 수정 X
                dayMaxEvents: true, // allow "more" link when too many events
                events: [
                    {
                        groupId: 999,
                        title: '999,000',
                        start: '2023-08-09'
                    },
                    {
                        groupId: 999,
                        title: '999,000',
                        start: '2023-08-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2023-08-11',
                        end: '2023-08-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2023-08-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2023-08-12T17:30:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2023-08-13T07:00:00'
                    },
                ]
            });

            calendar.render();
        });

        // ------------------ modal ---------------------

        const modal = document.querySelector(".modalBg");
        const modalCon = document.querySelector(".saleModel");
        const clsBtn = document.querySelector(".cls");
        const locAdd = document.querySelectorAll(".locAdd");

        function showModal() {
            modal.classList.add("active")
        }

        function clsModal() {
            modal.classList.remove("active");
        }

        clsBtn.onclick = function () {
            clsModal();
        };

        document.addEventListener('mouseup', function (e) {
            if (!modalCon.contains(e.target)) {
                modal.classList.remove("active");
            }
        });

    </script>
</body>

</html>