<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Final project : EpicTrip">
    <meta property="og:url" content="https://mrrobotcorp.github.io/project6_EpicTrip/">
    <meta property="og:image" content="https://mrrobotcorp.github.io/project6_EpicTrip//source/thumbnail.png">
    <meta property="og:description" content="4조 프로젝트 사이트 - EpicTrip">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Final project : EpicTrip">
    <meta name="twitter:url" content="https://mrrobotcorp.github.io/project6_EpicTrip/">
    <meta name="twitter:image" content="https://mrrobotcorp.github.io/project6_EpicTrip//source/thumbnail.png">
    <meta name="twitter:description" content="4조 프로젝트 사이트 - EpicTrip">
    <meta name="description" content="4조 프로젝트 사이트 - EpicTrip">
    <meta name='keywords' content='project, EpicTrip, toy project, community, trip, tour'>

    <link rel="icon" href="./source/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="./source/apple-icon-180x180.png" sizes="180x180">
    <title>EpicTrip | 에픽트립</title>

    <link href="./css/headFoot.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/slick.css" />
    <link rel="stylesheet" href="./css/slick_theme.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
</head>

<body>
    <header>
        <nav>
            <a href="./main.html"><img class="headLogo" src="./source/logo.png"></a>
            <div class="gnb">
                <ul class="gnbTab">
                    <li>
                        <a href="./Store.html" class="store">여행상점</a>
                    </li>
                    <li>
                        <a href="./Community_Group.html" class="community">커뮤니티</a>
                    </li>
                </ul>
                <div class="userHead">
                    <a href="./message.html"><img class="msgImg" src="./source/msg.png"></a>
                    <a href="./Mypage_mysetting.html"><img class="userImg" src="./source/profImg2.jpg"></a>
                    <ul class="userList">
                        <li>유저 닉네임</li>
                        <li><a href="./Mypage_mybill.html">마이페이지</a></li>
                        <!-- <li><a href="./adm_calendar.html">관리자 일정</a></li> -->
                        <li>로그아웃</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="mainBanner">
        <div class="mainCon">
            <img src="./source/logo_white.png" class="mainBnLogo">
            <p>
                일상을 벗어나 <span class="boldTxt">특별한 여행</span>을 계획하고 싶은 이들을 위한 플랫폼<br>
                여행에 동행을 구하거나 일정을 공유할 수 있으며, 다양한 여행 상품을 경험해보세요.
            </p>
        </div>
        <div class="scrollDown">
            <span></span>Scroll
        </div>
    </section>

    <section class="mainSection">
        <div class="slider">
            <div class="bn01 bn">
                <div class="bContent01 bContent ">
                    <p>몽골 기획전 오픈</p>
                </div>
            </div>
            <div class="bn02 bn">
                <div class="bContent02 bContent ">
                    <p>일본 에어텔 보러가기</p>
                </div>
            </div>
            <div class="bn03 bn">
                <div class="bContent03 bContent ">
                    <p>제주도 1일 1만원부터 시작하는 에픽트립</p>
                </div>
            </div>
            <div class="bn04 bn">
                <div class="bContent04 bContent ">
                    <p>호치민 시티투어 원데이</p>
                </div>
            </div>
        </div>

        <h3 class="titleTxt epicTxt">에픽트립 추천</h3>
        <div class="itemAll">
            <a href="./Store_Detail.html" class="itemOne item01">
                <div class="post">
                    <div class="postImg">
                        <img src="./source/stList01.jpg" alt="">
                    </div>
                </div>
                <div class="postBottom">
                    <span id="infoText" class="infoText">[일본 오사카] 유니버셜 스튜디오 재팬 익스프레스 패스</span>
                    <span id="locPay" class="locPay">
                        <p id="loc">일본</p>
                        <span id="price">159,000원</span>
                    </span>
                </div>
            </a>
            <a href="./Store_Detail.html" class="itemOne item01">
                <div class="post">
                    <div class="postImg">
                        <img src="./source/stList01.jpg" alt="">
                    </div>
                </div>
                <div class="postBottom">
                    <span id="infoText" class="infoText">[일본 오사카] 유니버셜 스튜디오 재팬 익스프레스 패스</span>
                    <span id="locPay" class="locPay">
                        <p id="loc">일본</p>
                        <span id="price">159,000원</span>
                    </span>
                </div>
            </a>
            <a href="./Store_Detail.html" class="itemOne item01">
                <div class="post">
                    <div class="postImg">
                        <img src="./source/stList01.jpg" alt="">
                    </div>
                </div>
                <div class="postBottom">
                    <span id="infoText" class="infoText">[일본 오사카] 유니버셜 스튜디오 재팬 익스프레스 패스</span>
                    <span id="locPay" class="locPay">
                        <p id="loc">일본</p>
                        <span id="price">159,000원</span>
                    </span>
                </div>
            </a>
            <a href="./Store_Detail.html" class="itemOne item01">
                <div class="post">
                    <div class="postImg">
                        <img src="./source/stList01.jpg" alt="">
                    </div>
                </div>
                <div class="postBottom">
                    <span id="infoText" class="infoText">[일본 오사카] 유니버셜 스튜디오 재팬 익스프레스 패스</span>
                    <span id="locPay" class="locPay">
                        <p id="loc">일본</p>
                        <span id="price">159,000원</span>
                    </span>
                </div>
            </a>
        </div>

        <h3 class="titleTxt"><span class="txtPple">동행</span>을 찾고 있어요</h3>
        <div class="groAll">
            <a href="Community_GroDetail.html" class="goDetail">
                <div class="schOne">
                    <div class="schTopInfo">
                        <div class="schUser">
                            <img src="./source/profImg3.jpg">
                            <div>
                                <p class="schNicK">닉네임</p>
                                <p class="subTxt">30대 • 여성</p>
                            </div>
                        </div>
                        <div class="schDays">
                            <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                            <p class="subTxt">
                                23-08-01 ~ 23-08-06
                            </p>
                        </div>
                    </div>

                    <div class="post post01">

                        <span class="postLoc" id="postLoc">라스베가스</span>
                        <div class="postImg">
                            <img src="./source/cG_bg1.jpg" alt="">
                            <div class="hiddenBox">
                                <p id="pCnt">모집중 | 3명</p>
                                <div class="viewInner">
                                    <span class="viewCnt">3</span>
                                    <span class="chatCnt">1</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="postBottom">
                        <h3 id="truncated">부산 락페 기대기대 기대기대기대기대 김윤아 와주세요</h3>
                        <p id="turncatedP">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex suscipit possimus quam omnis,
                            debitis incidunt hic culpa repudiandae odio, nesciunt exercitationem blanditiis eos.
                            Repellat
                            blanditiis amet,
                            qui ipsam molestias temporibus!
                        </p>
                    </div>
                </div>
            </a>

            <a href="Community_GroDetail.html" class="goDetail">
                <div class="schOne">
                    <div class="schTopInfo">
                        <div class="schUser">
                            <img src="./source/profImg3.jpg">
                            <div>
                                <p class="schNicK">닉네임</p>
                                <p class="subTxt">30대 • 여성</p>
                            </div>
                        </div>
                        <div class="schDays">
                            <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                            <p class="subTxt">
                                23-08-01 ~ 23-08-06
                            </p>
                        </div>
                    </div>

                    <div class="post post01">

                        <span class="postLoc" id="postLoc">라스베가스</span>
                        <div class="postImg">
                            <img src="./source/cG_bg2.jpg" alt="">
                            <div class="hiddenBox">
                                <p id="pCnt">모집중 | 3명</p>
                                <div class="viewInner">
                                    <span class="viewCnt">3</span>
                                    <span class="chatCnt">1</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="postBottom">
                        <h3 id="truncated">부산 락페 기대기대 기대기대기대기대 김윤아 와주세요</h3>
                        <p id="turncatedP">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex suscipit possimus quam omnis,
                            debitis incidunt hic culpa repudiandae odio, nesciunt exercitationem blanditiis eos.
                            Repellat
                            blanditiis amet,
                            qui ipsam molestias temporibus!
                        </p>
                    </div>
                </div>
            </a>

            <a href="Community_GroDetail.html" class="goDetail">
                <div class="schOne">
                    <div class="schTopInfo">
                        <div class="schUser">
                            <img src="./source/profImg3.jpg">
                            <div>
                                <p class="schNicK">닉네임</p>
                                <p class="subTxt">30대 • 여성</p>
                            </div>
                        </div>
                        <div class="schDays">
                            <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                            <p class="subTxt">
                                23-08-01 ~ 23-08-06
                            </p>
                        </div>
                    </div>

                    <div class="post post01">

                        <span class="postLoc" id="postLoc">라스베가스</span>
                        <div class="postImg">
                            <img src="./source/cG_bg3.jpg" alt="">
                            <div class="hiddenBox">
                                <p id="pCnt">모집중 | 3명</p>
                                <div class="viewInner">
                                    <span class="viewCnt">3</span>
                                    <span class="chatCnt">1</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="postBottom">
                        <h3 id="truncated">부산 락페 기대기대 기대기대기대기대 김윤아 와주세요</h3>
                        <p id="turncatedP">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex suscipit possimus quam omnis,
                            debitis incidunt hic culpa repudiandae odio, nesciunt exercitationem blanditiis eos.
                            Repellat
                            blanditiis amet,
                            qui ipsam molestias temporibus!
                        </p>
                    </div>
                </div>
            </a>

            <a href="Community_GroDetail.html" class="goDetail">
                <div class="schOne">
                    <div class="schTopInfo">
                        <div class="schUser">
                            <img src="./source/profImg3.jpg">
                            <div>
                                <p class="schNicK">닉네임</p>
                                <p class="subTxt">30대 • 여성</p>
                            </div>
                        </div>
                        <div class="schDays">
                            <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                            <p class="subTxt">
                                23-08-01 ~ 23-08-06
                            </p>
                        </div>
                    </div>

                    <div class="post post01">

                        <span class="postLoc" id="postLoc">라스베가스</span>
                        <div class="postImg">
                            <img src="./source/cG_bg4.jpg" alt="">
                            <div class="hiddenBox">
                                <p id="pCnt">모집중 | 3명</p>
                                <div class="viewInner">
                                    <span class="viewCnt">3</span>
                                    <span class="chatCnt">1</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="postBottom">
                        <h3 id="truncated">부산 락페 기대기대 기대기대기대기대 김윤아 와주세요</h3>
                        <p id="turncatedP">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex suscipit possimus quam omnis,
                            debitis incidunt hic culpa repudiandae odio, nesciunt exercitationem blanditiis eos.
                            Repellat
                            blanditiis amet,
                            qui ipsam molestias temporibus!
                        </p>
                    </div>
                </div>
            </a>

            <a href="Community_GroDetail.html" class="goDetail">
                <div class="schOne">
                    <div class="schTopInfo">
                        <div class="schUser">
                            <img src="./source/profImg3.jpg">
                            <div>
                                <p class="schNicK">닉네임</p>
                                <p class="subTxt">30대 • 여성</p>
                            </div>
                        </div>
                        <div class="schDays">
                            <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                            <p class="subTxt">
                                23-08-01 ~ 23-08-06
                            </p>
                        </div>
                    </div>

                    <div class="post post01">

                        <span class="postLoc" id="postLoc">라스베가스</span>
                        <div class="postImg">
                            <img src="./source/cG_bg5.jpg" alt="">
                            <div class="hiddenBox">
                                <p id="pCnt">모집중 | 3명</p>
                                <div class="viewInner">
                                    <span class="viewCnt">3</span>
                                    <span class="chatCnt">1</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="postBottom">
                        <h3 id="truncated">부산 락페 기대기대 기대기대기대기대 김윤아 와주세요</h3>
                        <p id="turncatedP">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex suscipit possimus quam omnis,
                            debitis incidunt hic culpa repudiandae odio, nesciunt exercitationem blanditiis eos.
                            Repellat
                            blanditiis amet,
                            qui ipsam molestias temporibus!
                        </p>
                    </div>
                </div>
            </a>

            <a href="Community_GroDetail.html" class="goDetail">
                <div class="schOne">
                    <div class="schTopInfo">
                        <div class="schUser">
                            <img src="./source/profImg3.jpg">
                            <div>
                                <p class="schNicK">닉네임</p>
                                <p class="subTxt">30대 • 여성</p>
                            </div>
                        </div>
                        <div class="schDays">
                            <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                            <p class="subTxt">
                                23-08-01 ~ 23-08-06
                            </p>
                        </div>
                    </div>

                    <div class="post post01">

                        <span class="postLoc" id="postLoc">라스베가스</span>
                        <div class="postImg">
                            <img src="./source/cG_bg7.jpg" alt="">
                            <div class="hiddenBox">
                                <p id="pCnt">모집중 | 3명</p>
                                <div class="viewInner">
                                    <span class="viewCnt">3</span>
                                    <span class="chatCnt">1</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="postBottom">
                        <h3 id="truncated">부산 락페 기대기대 기대기대기대기대 김윤아 와주세요</h3>
                        <p id="turncatedP">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex suscipit possimus quam omnis,
                            debitis incidunt hic culpa repudiandae odio, nesciunt exercitationem blanditiis eos.
                            Repellat
                            blanditiis amet,
                            qui ipsam molestias temporibus!
                        </p>
                    </div>
                </div>
            </a>

            <a href="Community_GroDetail.html" class="goDetail">
                <div class="schOne">
                    <div class="schTopInfo">
                        <div class="schUser">
                            <img src="./source/profImg3.jpg">
                            <div>
                                <p class="schNicK">닉네임</p>
                                <p class="subTxt">30대 • 여성</p>
                            </div>
                        </div>
                        <div class="schDays">
                            <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                            <p class="subTxt">
                                23-08-01 ~ 23-08-06
                            </p>
                        </div>
                    </div>

                    <div class="post post01">

                        <span class="postLoc" id="postLoc">라스베가스</span>
                        <div class="postImg">
                            <img src="./source/cG_bg8.jpg" alt="">
                            <div class="hiddenBox">
                                <p id="pCnt">모집중 | 3명</p>
                                <div class="viewInner">
                                    <span class="viewCnt">3</span>
                                    <span class="chatCnt">1</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="postBottom">
                        <h3 id="truncated">부산 락페 기대기대 기대기대기대기대 김윤아 와주세요</h3>
                        <p id="turncatedP">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex suscipit possimus quam omnis,
                            debitis incidunt hic culpa repudiandae odio, nesciunt exercitationem blanditiis eos.
                            Repellat
                            blanditiis amet,
                            qui ipsam molestias temporibus!
                        </p>
                    </div>
                </div>
            </a>

            <a href="Community_GroDetail.html" class="goDetail">
                <div class="schOne">
                    <div class="schTopInfo">
                        <div class="schUser">
                            <img src="./source/profImg3.jpg">
                            <div>
                                <p class="schNicK">닉네임</p>
                                <p class="subTxt">30대 • 여성</p>
                            </div>
                        </div>
                        <div class="schDays">
                            <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                            <p class="subTxt">
                                23-08-01 ~ 23-08-06
                            </p>
                        </div>
                    </div>

                    <div class="post post01">

                        <span class="postLoc" id="postLoc">라스베가스</span>
                        <div class="postImg">
                            <img src="./source/cG_bg9.jpg" alt="">
                            <div class="hiddenBox">
                                <p id="pCnt">모집중 | 3명</p>
                                <div class="viewInner">
                                    <span class="viewCnt">3</span>
                                    <span class="chatCnt">1</span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="postBottom">
                        <h3 id="truncated">부산 락페 기대기대 기대기대기대기대 김윤아 와주세요</h3>
                        <p id="turncatedP">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex suscipit possimus quam omnis,
                            debitis incidunt hic culpa repudiandae odio, nesciunt exercitationem blanditiis eos.
                            Repellat
                            blanditiis amet,
                            qui ipsam molestias temporibus!
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <h3 class="titleTxt"><span class="txtPple">여행 일정</span>을 구경해보세요</h3>
        <div class="schAll">
            <div class="schOne">
                <div class="schTopInfo">
                    <div class="schUser">
                        <img src="./source/profImg1.jpg">
                        <div>
                            <p class="schNicK">닉네임</p>
                            <p class="subTxt">30대 • 여성</p>
                        </div>
                    </div>
                    <div class="schDays">
                        <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                        <p class="subTxt">
                            23-08-01 ~ 23-08-06
                        </p>
                    </div>
                </div>
                <div class="schMap schMap01"></div>
                <div class="schBottom">
                    <div>
                        <img src="./source/loc.png" class="locIco">
                        <span class="schLoc">울란바토르</span>
                    </div>
                    <a href="./Community_SchDetail.html" class="detailBtn">일정 상세보기</a>
                </div>

                <div class="dayLocAll">
                    <div class="dayAll">
                        <span class="day active">Day1</span>
                        <span class="day">Day2</span>
                        <span class="day">Day3</span>
                        <span class="day">Day4</span>
                        <span class="day">Day5</span>
                        <span class="day">Day6</span>
                    </div>

                    <div class="locList">
                        <ul class="active">
                            <li>홍콩 해양 공원</li>
                            <li>빅토리아 피크</li>
                            <li>란터우 섬</li>
                            <li>침사추이</li>
                            <li>포팅거 스트리트</li>
                        </ul>
                        <ul>
                            <li>스타의 거리</li>
                            <li>카우룽 공원</li>
                            <li>홍콩 역사 박물관</li>
                        </ul>
                        <ul>
                            <li>머레이 하우스</li>
                            <li>치린 수도원</li>
                        </ul>
                        <ul></ul>
                        <ul>
                            <li>머레이 하우스</li>
                            <li>치린 수도원</li>
                        </ul>
                        <ul>
                            <li>머레이 하우스</li>
                            <li>치린 수도원</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="schOne">
                <div class="schTopInfo">
                    <div class="schUser">
                        <img src="./source/profImg1.jpg">
                        <div>
                            <p class="schNicK">닉네임</p>
                            <p class="subTxt">30대 • 여성</p>
                        </div>
                    </div>
                    <div class="schDays">
                        <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                        <p class="subTxt">
                            23-08-01 ~ 23-08-06
                        </p>
                    </div>
                </div>
                <div class="schMap schMap02"></div>
                <div class="schBottom">
                    <div>
                        <img src="./source/loc.png" class="locIco">
                        <span class="schLoc">라스베가스</span>
                    </div>
                    <a href="./Community_SchDetail.html" class="detailBtn">일정 상세보기</a>
                </div>

                <div class="dayLocAll">
                    <div class="dayAll">
                        <span class="day active">Day1</span>
                        <span class="day">Day2</span>
                        <span class="day">Day3</span>
                        <span class="day">Day4</span>
                    </div>

                    <div class="locList">
                        <ul class="active">
                            <li>홍콩 해양 공원</li>
                            <li>빅토리아 피크</li>
                            <li>란터우 섬</li>
                            <li>침사추이</li>
                            <li>포팅거 스트리트</li>
                        </ul>
                        <ul></ul>
                        <ul>
                            <li>스타의 거리</li>
                            <li>카우룽 공원</li>
                            <li>홍콩 역사 박물관</li>
                        </ul>
                        <ul>
                            <li>머레이 하우스</li>
                            <li>치린 수도원</li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="schOne">
                <div class="schTopInfo">
                    <div class="schUser">
                        <img src="./source/profImg1.jpg">
                        <div>
                            <p class="schNicK">닉네임</p>
                            <p class="subTxt">30대 • 여성</p>
                        </div>
                    </div>
                    <div class="schDays">
                        <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                        <p class="subTxt">
                            23-08-01 ~ 23-08-06
                        </p>
                    </div>
                </div>
                <div class="schMap schMap02"></div>
                <div class="schBottom">
                    <div>
                        <img src="./source/loc.png" class="locIco">
                        <span class="schLoc">라스베가스</span>
                    </div>
                    <a href="./Community_SchDetail.html" class="detailBtn">일정 상세보기</a>
                </div>

                <div class="dayLocAll">
                    <div class="dayAll">
                        <span class="day active">Day1</span>
                        <span class="day">Day2</span>
                        <span class="day">Day3</span>
                        <span class="day">Day4</span>
                    </div>

                    <div class="locList">
                        <ul class="active">
                            <li>홍콩 해양 공원</li>
                            <li>빅토리아 피크</li>
                            <li>란터우 섬</li>
                            <li>침사추이</li>
                            <li>포팅거 스트리트</li>
                        </ul>
                        <ul></ul>
                        <ul>
                            <li>스타의 거리</li>
                            <li>카우룽 공원</li>
                            <li>홍콩 역사 박물관</li>
                        </ul>
                        <ul>
                            <li>머레이 하우스</li>
                            <li>치린 수도원</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="schOne">
                <div class="schTopInfo">
                    <div class="schUser">
                        <img src="./source/profImg1.jpg">
                        <div>
                            <p class="schNicK">닉네임</p>
                            <p class="subTxt">30대 • 여성</p>
                        </div>
                    </div>
                    <div class="schDays">
                        <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                        <p class="subTxt">
                            23-08-01 ~ 23-08-06
                        </p>
                    </div>
                </div>
                <div class="schMap schMap02"></div>
                <div class="schBottom">
                    <div>
                        <img src="./source/loc.png" class="locIco">
                        <span class="schLoc">라스베가스</span>
                    </div>
                    <a href="./Community_SchDetail.html" class="detailBtn">일정 상세보기</a>
                </div>

                <div class="dayLocAll">
                    <div class="dayAll">
                        <span class="day active">Day1</span>
                        <span class="day">Day2</span>
                        <span class="day">Day3</span>
                        <span class="day">Day4</span>
                    </div>

                    <div class="locList">
                        <ul class="active">
                            <li>홍콩 해양 공원</li>
                            <li>빅토리아 피크</li>
                            <li>란터우 섬</li>
                            <li>침사추이</li>
                            <li>포팅거 스트리트</li>
                        </ul>
                        <ul></ul>
                        <ul>
                            <li>스타의 거리</li>
                            <li>카우룽 공원</li>
                            <li>홍콩 역사 박물관</li>
                        </ul>
                        <ul>
                            <li>머레이 하우스</li>
                            <li>치린 수도원</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="schOne">
                <div class="schTopInfo">
                    <div class="schUser">
                        <img src="./source/profImg1.jpg">
                        <div>
                            <p class="schNicK">닉네임</p>
                            <p class="subTxt">30대 • 여성</p>
                        </div>
                    </div>
                    <div class="schDays">
                        <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                        <p class="subTxt">
                            23-08-01 ~ 23-08-06
                        </p>
                    </div>
                </div>
                <div class="schMap schMap02"></div>
                <div class="schBottom">
                    <div>
                        <img src="./source/loc.png" class="locIco">
                        <span class="schLoc">라스베가스</span>
                    </div>
                    <a href="./Community_SchDetail.html" class="detailBtn">일정 상세보기</a>
                </div>

                <div class="dayLocAll">
                    <div class="dayAll">
                        <span class="day active">Day1</span>
                        <span class="day">Day2</span>
                        <span class="day">Day3</span>
                        <span class="day">Day4</span>
                    </div>

                    <div class="locList">
                        <ul class="active">
                            <li>홍콩 해양 공원</li>
                            <li>빅토리아 피크</li>
                            <li>란터우 섬</li>
                            <li>침사추이</li>
                            <li>포팅거 스트리트</li>
                        </ul>
                        <ul></ul>
                        <ul>
                            <li>스타의 거리</li>
                            <li>카우룽 공원</li>
                            <li>홍콩 역사 박물관</li>
                        </ul>
                        <ul>
                            <li>머레이 하우스</li>
                            <li>치린 수도원</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="schOne">
                <div class="schTopInfo">
                    <div class="schUser">
                        <img src="./source/profImg1.jpg">
                        <div>
                            <p class="schNicK">닉네임</p>
                            <p class="subTxt">30대 • 여성</p>
                        </div>
                    </div>
                    <div class="schDays">
                        <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                        <p class="subTxt">
                            23-08-01 ~ 23-08-06
                        </p>
                    </div>
                </div>
                <div class="schMap schMap02"></div>
                <div class="schBottom">
                    <div>
                        <img src="./source/loc.png" class="locIco">
                        <span class="schLoc">라스베가스</span>
                    </div>
                    <a href="./Community_SchDetail.html" class="detailBtn">일정 상세보기</a>
                </div>

                <div class="dayLocAll">
                    <div class="dayAll">
                        <span class="day active">Day1</span>
                        <span class="day">Day2</span>
                        <span class="day">Day3</span>
                        <span class="day">Day4</span>
                    </div>

                    <div class="locList">
                        <ul class="active">
                            <li>홍콩 해양 공원</li>
                            <li>빅토리아 피크</li>
                            <li>란터우 섬</li>
                            <li>침사추이</li>
                            <li>포팅거 스트리트</li>
                        </ul>
                        <ul></ul>
                        <ul>
                            <li>스타의 거리</li>
                            <li>카우룽 공원</li>
                            <li>홍콩 역사 박물관</li>
                        </ul>
                        <ul>
                            <li>머레이 하우스</li>
                            <li>치린 수도원</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="schOne">
                <div class="schTopInfo">
                    <div class="schUser">
                        <img src="./source/profImg1.jpg">
                        <div>
                            <p class="schNicK">닉네임</p>
                            <p class="subTxt">30대 • 여성</p>
                        </div>
                    </div>
                    <div class="schDays">
                        <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                        <p class="subTxt">
                            23-08-01 ~ 23-08-06
                        </p>
                    </div>
                </div>
                <div class="schMap schMap02"></div>
                <div class="schBottom">
                    <div>
                        <img src="./source/loc.png" class="locIco">
                        <span class="schLoc">라스베가스</span>
                    </div>
                    <a href="./Community_SchDetail.html" class="detailBtn">일정 상세보기</a>
                </div>

                <div class="dayLocAll">
                    <div class="dayAll">
                        <span class="day active">Day1</span>
                        <span class="day">Day2</span>
                        <span class="day">Day3</span>
                        <span class="day">Day4</span>
                    </div>

                    <div class="locList">
                        <ul class="active">
                            <li>홍콩 해양 공원</li>
                            <li>빅토리아 피크</li>
                            <li>란터우 섬</li>
                            <li>침사추이</li>
                            <li>포팅거 스트리트</li>
                        </ul>
                        <ul></ul>
                        <ul>
                            <li>스타의 거리</li>
                            <li>카우룽 공원</li>
                            <li>홍콩 역사 박물관</li>
                        </ul>
                        <ul>
                            <li>머레이 하우스</li>
                            <li>치린 수도원</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="schOne">
                <div class="schTopInfo">
                    <div class="schUser">
                        <img src="./source/profImg1.jpg">
                        <div>
                            <p class="schNicK">닉네임</p>
                            <p class="subTxt">30대 • 여성</p>
                        </div>
                    </div>
                    <div class="schDays">
                        <p>여행기간&nbsp;&nbsp;<span class="days">5일</span></p>
                        <p class="subTxt">
                            23-08-01 ~ 23-08-06
                        </p>
                    </div>
                </div>
                <div class="schMap schMap02"></div>
                <div class="schBottom">
                    <div>
                        <img src="./source/loc.png" class="locIco">
                        <span class="schLoc">라스베가스</span>
                    </div>
                    <a href="./Community_SchDetail.html" class="detailBtn">일정 상세보기</a>
                </div>

                <div class="dayLocAll">
                    <div class="dayAll">
                        <span class="day active">Day1</span>
                        <span class="day">Day2</span>
                        <span class="day">Day3</span>
                        <span class="day">Day4</span>
                    </div>

                    <div class="locList">
                        <ul class="active">
                            <li>홍콩 해양 공원</li>
                            <li>빅토리아 피크</li>
                            <li>란터우 섬</li>
                            <li>침사추이</li>
                            <li>포팅거 스트리트</li>
                        </ul>
                        <ul></ul>
                        <ul>
                            <li>스타의 거리</li>
                            <li>카우룽 공원</li>
                            <li>홍콩 역사 박물관</li>
                        </ul>
                        <ul>
                            <li>머레이 하우스</li>
                            <li>치린 수도원</li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>

    </section>


    <footer>
        <div id="scrollTop">
            <span class="blind">맨 위로 가기</span>
            <div class="topTxt">Top</div>
        </div>
        <img src="./source/logo_white.png">
        <p><a href="mailto:depo89055@gmail.com">프로젝트 문의 dddd@gmail.com</a></p>
        <p>유선 상담 010-1234-1234</p>
        <p>Copyright© EpicTrip, Inc. 2023. All Rights Reserved.</p>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUGU4a6_du1rtCwNDAGCRROJteWTuVS2E&callback=initMap"></script>
    <script src="./js/slick.min.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/main.js"></script>

    <script>
        const down = document.querySelector('.scrollDown');

        down.onclick = function () {
            window.scrollTo({
                top: 820,
                behavior: 'smooth'
            });
        }

        document.getElementById("scrollTop").onclick = function () {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        };

        $(document).ready(function () {
            const Height = $("#scrollTop").height();
            $("#scrollTop").hide();

            $(window).scroll(function () {
                var rolling = $(this).scrollTop() >= Height;
                if (rolling) {
                    $("#scrollTop").fadeIn(500).css({ "position": "fixed" });
                }
                else {
                    $("#scrollTop").fadeOut(300);
                }

            });

        });


    </script>
</body>

</html>